Proyecto 2/Visual/IPC2Proyecto/IPC2Proyecto/Web References/localhost/Usuario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WS/" targetNamespace="http://WS/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AgregarUsuario" type="tns:AgregarUsuario" />
  <xs:element name="AgregarUsuarioResponse" type="tns:AgregarUsuarioResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_nac" type="xs:string" />
      <xs:element minOccurs="0" name="nick" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="karma" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>